body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.container {
    height: 600px;
    width: 800px;
    background-color: rgb(153, 198, 204);
}

.header {
    height: 70px;
    width: 100%;
    background-color: rgb(183, 244, 250);
    padding: 10px;
    position: relative;
}

.fas.fa-times {
    position: absolute;
    right: 15px; 
}

.header h2, .header p {
    margin: 0;
}

.header p {
    margin-top: 4px;
}

.topic-info {
    margin-right: 16px;
}

.messages-wrapper {
    padding: 10px;
    height: calc(100% - 70px);
}

.messages-container {
    height: 100%;
    overflow-y: auto;
}

.message {
    display: flex;
}

.message-info {
    display: flex;
    width: 200px;
    justify-content: center;
    align-items: center;
    border-right: 1px solid rgb(20, 20, 20);
}

.user {
    height: 48px;
    width: 48px;
    background-color: rgb(183, 244, 250);
    border-radius: 50%;
    text-align: center;
    line-height: 48px;
    margin-right: 8px;
}

.message-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px;
    max-width: calc(100% - 200px);
}

.message-text {
    background-color: rgb(164, 229, 235);
    text-align: left;
    padding: 8px;
}

.author {
    margin-left: 8px;
}

